html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}


/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

.wrap {
    margin: auto;
    max-width: 1000px;
    font-family: 微軟正黑體;
}


h1 {
    font-size: 40px;
    padding: 20px 20px 50px 20px;
}

.head p {
    padding-left: 20px;
}

.plane {
    margin-left: 80px;
    margin-top: 20px;
}


.topmeun {
    padding-top: 20px;
}

.topmenu li {
    float: left;
}

.topmeun li a {
    margin-top: 20px;
    float: left;
    display: block;
    width: 142px;
    background: #87CEFA;
    color: white;
    text-align: center;
    text-decoration: none;
    height: 40px;
    line-height: 40px;
}

.topmeun li a:hover {
    background: #1E90FF;
}

.clearfix {
    clear: both;
}


.content {
    border: 0.5px solid #F5F5F5;
    box-shadow: 2px 2px 1px;
    margin: 30px 3px 5px 8px;
    padding: 5px;
}

h2 {
    font-size: 25px;
    padding: 10px 10px 10px 10px;
    border-bottom: 1px solid #191970;
}

.content p {
    padding-left: 7px;
    padding-top: 20px;
    padding-bottom: 20px;
    line-height: 25px;
    border-bottom: 0.3px solid #F8F8FF;
}

.first {
    margin-top: 15px;
}

#group {
    padding-bottom: 10px;
    border-bottom: 0px solid #FFFFFF;
}

#tail {
    border-bottom: 1px solid #F8F8FF;
}

#one {
    padding-bottom: 0px;
    border-bottom: 0px solid #FFFFFF;
}

#union {
    margin-left: 20px;
    padding-top: 13px;
    padding-bottom: 0px;
    border-bottom: 0px solid #FFFFFF;
}

.box {
    width: 105px;
    height:30px;
    background: linear-gradient(#000080, #4682B4);
    border-radius:10px;
    position: fixed;
    bottom:20px;
    right:20px;
}

.box a {
    text-decoration: none;
    color: white;
    line-height:30px;
    margin-left:10px;
}

.footer {
    margin-top: 15px;
    height: 50px;
    background: #87CEFA;
}

@media only screen and (max-width:768px) {

    .plane {
        display: none;
        margin-left: 80px;
        margin-top: 20px;
    }
}


@media only screen and (max-width:569px) {

    .plane {
        display: none;
        margin-left: 80px;
        margin-top: 20px;
    }


    .topmeun li {
        float: none;
    }
    .topmeun li a {
        float: none;
        width: 100%
    }
}